.top-navbar {
  padding: 0 35px;
  composes: black-background from '../../styles/compose_from.css';
  box-shadow: none;
}

.bottom-navbar {
  composes: primary-background from '../../styles/compose_from.css';
  height: 50px;
}

.bottom-navbar-fixed {
  line-height: 50px;
  height: 50px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  color: black;
}

.brand-title {
  composes: white-text from '../../styles/compose_from.css';
  composes: ubuntu from '../../styles/compose_from.css';
  font-size: 24px;
}

.welcome-message {
  composes: divider-color from '../../styles/compose_from.css';
}

.nav-items {
  font-size: 14px;
  text-transform: uppercase;
  composes: white-semi-transparent-text from '../../styles/compose_from.css';
  letter-spacing: 0.5px;
}

.nav-items li {
  padding: 0 10px;
}

.active-item {
  height: 50px;
  border-bottom: solid 3px #FFFFFF;
  composes: white-text from '../../styles/compose_from.css';
}

:global(nav ul a:hover) {
  background-color: rgba(0,0,0,0) !important;
}

:global(nav ul li:hover) {
  background-color: rgba(0,0,0,0.1);
}

button:focus {
  color: #757575;
  background-color: transparent;
}
