.launch-config {
  width: 45% !important;
  background-color: #F2F2F2;
  border-radius: 6px 6px 6px 6px;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.title {
  font-size: 1.5em;
}

.launch-options {

}

.toggle-container {

}

.toggle-container label {
  color: black !important;
  font-size: 1em !important;
}

.toggle-description {
  font-size: 0.8em;
  color: gray;
}

.modal-footer {
  background-color: transparent !important;
}
