.recommended-quest {
  composes: featured-quest from '../MyQuestsPage.css';
}

.recommended-quest .pillar {
  color: orange;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.recommended-quest .quest-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.recommended-quest .description {
  margin-bottom: 5px;
}

.recommended-quest .quest-time {
  color: rgb(150, 150, 150);
  display: flex;
  align-items: center;
}

.recommended-quest .time {
  color: rgb(150, 150, 150);
  display: flex;
  align-items: center;
}

.recommended-quest .time .icon {
  margin-right: 5px;
}
