.my-quests-page {
  padding: 40px 5%;
}

.create-quest-container {
  margin-bottom: 20px;
}

.create-quest-button {
  background-color: orange;
  padding: 0px 20px;
  height: auto;
}

.filter-container {
  padding: 10px;
  margin: 0 0 8px 0;
  display: inline-block;
  min-width: 400px;
}

.filter-box-container {
  margin-top: 4px;
}

.filter-icon {
  position: absolute;
  bottom: 11px;
}

.filter-field {
  padding-left: 30px !important;
  box-sizing: border-box !important;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

.all-quests {
  flex: 1;
  min-width: 900px;
  margin-right: 32px;
}

.status-container {

}

.status-container .status-name {
  margin: 2.1rem 0 0 0;
  font-size: 24px;
  color: #4A4A4A;
  line-height: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.status-container .status-name .expand-trigger {
  cursor: pointer;
  user-select: none;
}

.status-container .status-name .status-quantity {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-top: 6px;
  color: #BDBDBD;
  margin-left: 8px;
}

.status-container .quests {

}

.quests .header {
  margin-bottom: 15px;
}

.quests .header .header-row {
  display: flex;
  flex-direction: row;
}

.quests .header .header-cell {
  text-align: center;
}

.quests .header .header-cell:nth-child(1) {
  flex: 1;
}

.quests .header .header-cell:nth-child(2) {
  flex: 0 0 200px;
}

.quests .header .header-cell:nth-child(3) {
  flex: 0 0 200px;
}

.quests .header .header-cell .click-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.quests .header .header-cell .click-box .icon {
  margin-left: 4px;
}

.quests .content {

}

.quests .content .content-row {
  padding-bottom: 20px;
  border-bottom: 0.5px dashed rgb(189, 189, 189);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.quests .content .quest-info {
  flex: 1;
}

.quests .quest-info .title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: color 0.1s;
  margin-bottom: 5px;
}

.quests .quest-info .title:hover {
  color: #039be5;
}

.quests .quest-info .description {
  color: rgb(117, 117, 117);
  margin-bottom: 8px;
}

.quests .quest-info .pillar-container {

}

.quests .quest-info .pillar {
  text-transform: uppercase;
  margin-top: 5px;
  padding: 4px 15px;
  background-color: rgb(255, 239, 194);
  display: inline-block;
}

.quests .quest-card-count {
  flex: 0 0 200px;
}

.quests .quest-modified-time {
  flex: 0 0 200px;
}

.status-container .show-more {
  cursor: pointer;
}

.featured-quests {
  flex: 0;
}

.featured-quest-container {
  margin-bottom: 20px;
}

.featured-quest-container .title {
  font-size: 1.3em;
  font-weight: 700;
}

.recommended-quest .pillar {
  color: orange;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.recommended-quest .quest-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.recommended-quest .description {
  margin-bottom: 5px;
}

.recommended-quest .quest-time {
  color: rgb(150, 150, 150);
  display: flex;
  align-items: center;
}

.recommended-quest .time {
  color: rgb(150, 150, 150);
  display: flex;
  align-items: center;
}

.recommended-quest .time .icon {
  margin-right: 5px;
}

.recommended-quest, .trending-quests {
  padding: 20px;
  background-color: rgb(240, 240, 240);
  width: 250px;
}

.trending-quests {

}

.trending-quest {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trending-quest:not(:last-child) {
  margin-bottom: 10px;
}

.trending-quest .change-up {
  color: rgb(157, 222, 87);
}

.trending-quest .change-down {
  color: rgb(244, 67, 54);
}

.trending .change-icon {

}

.trending-quest .quest-title {
  margin: 0 12px;
  flex: 1;
}
