.primary-text {
	color: #673AB7 !important;
}

.primary-background {
	background-color: #673AB7 !important;
}

.primary-border {
	border-color: #673AB7 !important;
}

.primary-stroke {
	stroke: #673AB7 !important;
}

.primary-fill {
	fill: #673AB7 !important;
}



:global(.primary-dark-text) {
	color: #512DA8 !important;
}

.primary-dark-background {
	background-color: #512DA8 !important;
}

.primary-dark-border {
	border-color: #512DA8 !important;
}

.primary-dark-stroke {
	stroke: #512DA8 !important;
}

.primary-dark-fill {
	fill: #512DA8 !important;
}



.primary-light-text {
	color: #D1C4E9 !important;
}

:global(.primary-light-background) {
	background-color: #D1C4E9 !important;
}

.primary-light-border {
	border-color: #D1C4E9 !important;
}

.primary-light-stroke {
	stroke: #D1C4E9 !important;
}

.primary-light-fill {
	fill: #D1C4E9 !important;
}



:global(.accent-text) {
	color: #FF9800 !important;
}

:global(.accent-background) {
	background-color: #FF9800 !important;
}

.accent-border {
	border-color: #FF9800 !important;
}

.accent-stroke {
	stroke: #FF9800 !important;
}

.accent-fill {
	fill: #FF9800 !important;
}



.white-text {
  color: #FFFFFF;
}

:global(.white-semi-transparent-text) {
	color: rgba(255, 255, 255, 0.70) !important;
}

:global(.black-text) {
  color: #212121 !important;
}

.black-background {
  background-color: #212121;
}

:global(.gray-text) {
  color: #757575;
}

:global(.grey-text) {
  color: #757575;
}

.divider-color {
  color: #BDBDBD;
}
