.title {
    font-size: 20px;
    color: #2C2C2C;
    font-weight: 700;
}
.side-bar {
    background-color: rgba(221, 221, 221, 0.26);
    height: 100em;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit-input-field {
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}
/*.input-field
.prefix.active {
  color: #757575 !important;
}*/
.currentItemLink {
  color: black !important;
}
.currentItemLink:hover {
  color: #039be5 !important;
}
.currentItem {
  white-space: nowrap !important;
  overflow: hidden !important;
  font-size: 18px !important;
  text-overflow: ellipsis !important;
  color: black !important;
}
.currentItem:hover {
  color: #039be5 !important;
}
.typeItem {
  text-transform: capitalize !important;
  line-height: 13px !important;
  padding: 11px 16px !important;
  font-size: 15px !important;
  color: #4a4a4a !important;
}
.typeItem:hover {
  color: #039be5 !important;
}
