.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span.badge.new:after {
    content: none !important;
}
.pillar-badge {
  border-radius: 2px;
  background-color: #f06292;
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  box-sizing: border-box;
}
