.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pillar-badge {
    border-radius: 2px;
    background-color: #f06292;
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    font-size: 1rem;
    line-height: inherit;
    box-sizing: border-box;
}
.title {
    font-size: 1.3rem;
}
.change-value {
    display: flex;
    justify-content: center;
}
.value {
    font-size: 4rem;
}
.value-units {
    padding-top: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.card {
    width: 20rem;
    min-width: 20rem;
    line-height: 1.2;
    padding: 15px 15px;
}
.card-content {
    text-align: center;
}
.change {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-bad {
    color: red;
}
.change-good {
    color: green;
}
