.app-title {
	compose: ubuntu from '../../styles/compose.css';
	font-size: 48px;
	margin-bottom: 16px;
}

.app-description {
	font-size: 28px;
}

.app-header {
	compose: primary-background from '../../styles/compose.css';
	compose: white-text from '../../styles/compose.css';
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}
