.app-title {
	composes: ubuntu from '../../styles/compose_from.css';
	font-size: 48px;
	margin-bottom: 16px;
}

.app-description {
	font-size: 28px;
}

.app-header {
	composes: primary-background from '../../styles/compose_from.css';
	composes: white-text from '../../styles/compose_from.css';
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}
