.quest-content-item {
  background-color: #FFF;
  border-radius: 6px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
  width: 20rem;
  height: 15rem;
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.card-content {
  flex: 1;
}

.card-title {
  font-size: 1.5rem;
  color: #646464;
  composes: lato-bold from '../../../styles/fonts.css';
}

.card-description {
  font-size: 1rem;
  color: #646464;
}

.buttons {
  font-size: 14px;
  color: #939393;
  border-top: 2px solid #E9E9E9
}

.buttons .button {
  width: 50%;
  text-align: center;
  height: 40px;
}

.buttons .button:not(:last-child) {
  border-right: 2px solid #E9E9E9;
}
